################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ECommerceApplication/.vs/ECommerceApplication/FileContentIndex
/ECommerceApplication/.vs/ECommerceApplication/CopilotIndices/17.12.53.23981
